
<style>
 h1,h2,h3,h4,h5,h6 {
    margin: 8px 0;
 }

  p {
    margin: 0;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    justify-content: center;
    font-weight: 600;
  }
  
  .content {
    padding: 0 80px;
    margin: 20px 0 0 0;
  }
</style>

<!-- Toolbar -->
<div class="toolbar">
  <h2>Export to Excel via npm xlsx</h2>
</div>

<div class="content" role="main">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
    <div><img src="assets/exporttable.png" (click)="exportAsXLSX()" class="export"/></div>
    <span style="float: left;font-size: 12px;">Export Table</span>
</div>
<router-outlet></router-outlet>